# Dependencias
node_modules/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Salida de Cypress (vídeos/screenshots)
cypress/videos/
cypress/screenshots/

# Entornos
.env